<?php

return [
    'doctrine' => [
        'connection' => [
            'orm_default' => [
                'driver'   => 'pdo_mysql',
                'host'     => '127.0.0.1',
                'port'     => '3306',
                'user'     => 'root',
                'password' => 'root',
                'dbname'   => 'db_api',
                'charset'  => 'UTF8',
                'unix_socket' => '/tmp/mysql.sock'
            ],
        ],
    ]
];
